@font-face {
    font-family: 'Inter';
    src: url('./Inter/static/Inter-Regular.ttf') format('inter');
  }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.redirectMessage {
    font-weight: bold;
    font-family: 'Inter', Arial, sans-serif;
    color: rgba(164,225,118,255);
}

.errorMessage {
    font-weight: bold;
    font-family: 'Inter', Arial, sans-serif;
    color: rgba(255,96,112,255);
}

.anchor {
    font-weight: bold;
    font-family: 'Inter', Arial, sans-serif;
    color: rgba(114, 172, 229);
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}